<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    
        <%- include('./components/navbar.ejs') %>

    <div class="heading text-center pt-3">
        <img class="round logo-avatar" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=2048" alt="Seu avatar" width="50">
        <h1 class="display-5 heading--title"> <%=user.username%> </h1>
        <h2>Sobremim: <%=sobremim%></h2>
    </div>
   
 <%- include('./components/footer.ejs') %>

  </body>
</html>
