<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">
  <%- include('./components/navbar.ejs') %>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<br>
<div class="container">
  <h2>📊 Status do bot</h2>
 <br><br>
 <label for="pingcard">Ping:</label></label><br>
  
  <div class="card bg-info text-white">
    <div class="card-body" id="pingcard"><%=bot.ws.ping%> ms</div>
  </div>
  </div>
  <label for="servercard">Servidores:</label></label><br>
  
  <div class="card bg-info text-white">
    <div class="card-body" id="servercard"><%=bot.guilds.cache.size%> servidores !</div>
  </div>
  </div>
  <label for="usercard">Usuários:</label></label><br>
  
  <div class="card bg-info text-white">
    <div class="card-body" id="usercard"><%=bot.users.cache.size%> Usuários</div>
  </div>
  </div>
  <label for="chcard">Canais:</label></label><br>
  
  <div class="card bg-info text-white">
    <div class="card-body" id="chcard"><%=bot.channels.cache.size%> canais</div>
  </div>
  </div>
 
 
 