<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../components/header.ejs') %>
      <link rel="stylesheet" href="/css/sidebar.css">
    </head>
  <body>
     <%- include('../components/navbar.ejs') %>
   
  
    <!-- <div class="d-flex" id="wrapper">
      
      <div class="extension">
        <header class="text-center py-4 px-2" style="background-color: #2c2e33;"> -->
          
<!--           <div style="text-align: end;">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div> --> <!-- Eu ia fazer um sistema responsivo mas fiquei com preguiça -->
      <center>
        <% guilds.forEach((guild) => { %>
   <br>
          <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border text-center">
              <i class="fas fa-crown"></i>
              <h3 class="box-title server-name"><%= guild.name %></h3>
            </div>
            <div class="box-body">
              <div class="text-center">
                <% if (guild.icon) { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=2048"
                  alt="<%= guild.name %>" style="border-radius:100%" width="100" height="100" class="img-fluid">
                <% } else { %>
                <img src="https://cdn.discordapp.com/attachments/791775107910598681/806985015023501332/PicsArt_02-03-05.56.35.jpg" alt="<%= guild.name %>"
                  style="border-radius:100%" width="100" height="100" class="img-fluid">
                <% } %>
              </div>
            </div>
           <br>
            <div class="box-footer">
              <a href="/dashboard/guilds/<%= guild.id %>"><button class="btn btn-block btn-success">Configurar</button></a>
            </div>
          </div>
        </div>
 <%})%>
 </center>
  </body>
</html>
